.App {
	text-align: center;
	display: grid;
	grid-template-rows: 1fr 5fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"header header"
		"editor preview";
}

body,
html {
	height: 100%;
	margin: 0px auto;
}

#header {
	display: grid;
	grid-area: header;
	border-bottom: 2px solid grey;
	background-color: lightgrey;
}

#labels {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#editor,
#preview {
	display: grid;
}

#editor-textarea,
#preview-textarea {
	padding: 20px;
}

#editor {
	grid-area: editor;
}

#editor-textarea {
	background-color: lightsteelblue;
}

#preview {
	grid-area: preview;
}

#preview-textarea {
	background-color: lightseagreen;
}
